/backend/node_modules/
/backend/.env
/backend/public


/cms/node_modules
/cms/.pnp
/cms/.pnp.js


/cms/.next/
/cms/out/
/cms/build

/cms/.DS_Store
/cms/*.pem

/cms/npm-debug.log*
/cms/yarn-debug.log*
/cms/yarn-error.log*

/cms/.env*.local

/cms/.vercel

/cms/*.tsbuildinfo
/cms/next-env.d.ts

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js


/frontend/.next/
/frontend/out/
/frontend/build

/frontend/.DS_Store
/frontend/*.pem

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/frontend/.env*.local

/frontend/.vercel

/frontend/*.tsbuildinfo
/frontend/next-env.d.ts